{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau Todo ajouté</h1>

    <ul>
        <li>Id : {{ todo.id }}</li>
        <li>Titre : {{ todo.title }}</li>
    </ul>

    <a href="{{ path('home') }}">Retour à l'accueil</a>
{% endblock %}