{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Couleur</th>
        </thead>
        <tbody>
            {% for category in list %}
                <tr>
                    <td>{{ category.id}}</td>
                    <td>{{ category.label }}</td>
                    <td>{{ category.color }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ addUri }}" class="btn btn-primary">Ajouter</a>
{% endblock %}
